.header {
  background-color: #222;
  height: 24px;
  padding: 10px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 401;
}

.btn-icon {
  background: none;
  color: white;
  border: none;
  padding: 6px 12px;
  vertical-align: middle;
}
.btn-icon:focus {
  outline: none;
}

.fa:focus, fa:active {
  outline: none;
}

.title {
  font-size: 1.5em;
  margin: 0;
}


/*
@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/
