.sidebar {
  position: absolute;
  left: -320px;
  height: 100%;
  width: 300px;
  padding: 10px;
  z-index: 401;
  transition: left .5s ease-in-out;
  background-color: white;
  border-right: 2px solid #585555;
}

.sidebar.open {
  left: 0;
}

.sidebar-header {
  width: 100%;
  display: inline-block;
  padding: 2em 0;
  text-align: center;
}

.title {
  font-size: 2.5em;
  padding-right: 1em;
  letter-spacing: 2px;
  color: #979797;
}

.sidebar-toggle-back i {
  font-weight: 500;
  font-size: 2.2em;
  color: #585555;
}

.line {
  border-bottom: 2px solid #D8D8D8;
  width: 90%;
  margin: 0 auto;
  padding-bottom: .8em;
}


