.header {
  background-color: #222;
  height: 24px;
  padding: 10px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 401;
}

.title {
  font-size: 1.5em;
  margin: 0;
}

.time {
  float: right;
  margin-right: 20px;
  font-weight: normal;
}
