.header {
    width: 30px;
    height: 35px;
    bottom: 2em;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    display: none;

    /* left: -320px;
    transition: left .5s ease-in-out; */
}
.sidebar-toggle {
    color: #585555;
}


.header.open {
    display: initial;
    /* left: 0; */
}

@media (max-width: 650px) {
    .header, .sidebar-toggle {
        margin-bottom: 1rem;
    }
}
