.bottom-bar {
    display: none;
}

.bottom-bar.open {
    display: initial;
    background-color: var(--color-gray-light);
    width: 800px;
    padding: 0 15px;
    height: 40px;
    position: fixed;
    bottom: 2rem;
    left: 0;
    z-index: 401;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.bottom-bar-close {
    font-size: 33px;
    color: var(--color-gray-dark);
    border-left: 2px solid rgba(88, 85, 85, .2);
    padding-left: 10px;
    float: right;
}

.bottom-bar-close a {
    color: inherit;
}

.bottom-bar-options {
    display: inline-flex;
    vertical-align: middle;
    height: 40px;
    margin-top: 5px;

}

.general-options-selector {
    cursor: pointer;
    color: var(--color-gray-dark);
    line-height: 30px;
    margin-right: 6px;
}

.bottom-bar-options i.fa {
    margin-left: -5px;
}

.bottom-bar option {
    width: auto;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background-color: inherit;
}

select::-ms-expand {
    display: none;
}

select:focus, select:active {
    outline: none;
}

@media (max-width: 650px) {

    .bottom-bar {
        margin-bottom: 1rem;
    }

    .bottom-bar.open {
        width: 200px;
    }

    .bottom-bar-options {
        width: 155px;
    }

    .general-options-selector {
        font-size: 10px;
    }

    .bottom-bar-options i.fa {
        font-size: 10px;
        margin-left: 5px;
    }
}
