.bottom-bar {
    left: -440px;
    transition: left .5s ease-in-out;
    bottom: 2em;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.bottom-bar.open {
    left: 0;
}

.bottombar-toggle {
    cursor: pointer;
    color: var(--color-gray-dark);
    float: right;
    border-left: 2px solid var(--color-gray);
}

.bottom-bar.false .bottombar-placeholder {
    display: inline-flex;
    width: 245px;
}

.bottom-bar-options {
    display: inline-flex;
    margin-top: 5px;
}

.bottom-bar option {
    width: auto;
}

.bottom-bar-options i.fa {
    margin-left: -5px;
}

.general-options-selector {
    cursor: pointer;
    color: var(--color-gray-dark);
    line-height: 30px;
    margin-right: 6px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background-color: inherit;
}

select::-ms-expand {
    display: none;
}

select:focus, select:active {
    outline: none;
}

@media (max-width: 650px) {

    .bottom-bar {
        margin-bottom: 1rem;
    }

    .bottom-bar.open {
        width: 200px;
    }

    .bottom-bar-options {
        width: 155px;
    }

    .general-options-selector {
        font-size: 10px;
    }

    .bottom-bar-options i.fa {
        font-size: 10px;
        margin-left: 5px;
    }
}
