.bottom-bar {
    transition: left .5s ease-in-out;
    bottom: 2em;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 35px;

    /* fix chrome margin */
    -webkit-margin-start: 5px;
}

.bottom-bar.actual {
    left: -405px;
}

.bottom-bar.general {
    left: -360px;
}

.bottom-bar.period {
    left: -415px;
}

.bottom-bar.open {
    /* reset chrome margin */
    -webkit-margin-start: 0;
    left: 0;
}

.bottombar-toggle {
    cursor: pointer;
    color: var(--color-gray-dark);
    float: right;
    background-color: var(--color-gray);
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    height: 41px;
    margin: -3px -6px;
}
.bottombar-toggle > a > .fa {
    margin-top: 6px;
}

.bottom-bar.closed .bottombar-placeholder {
    display: inline-flex;
    width: 230px;
}

.bottom-bar-content {
    display: inline-flex;
    margin-top: 5px;
    margin-right: 6px;
}

.bottom-bar-content i.fa {
    margin-left: -15px;
    pointer-events: none;
}

.general-options-selector {
    cursor: pointer;
    color: var(--color-gray-dark);
    line-height: 26px;
    margin-right: 6px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background-color: inherit;
    padding-right: 15px;
}

select::-ms-expand {
    display: none;
}

select:focus, select:active {
    outline: none;
}

@media (max-width: 650px) {
    .bottom-bar {
        margin-bottom: 1rem;
    }

    .bottom-bar.open {
        width: 200px;
    }

    .bottom-bar-options {
        width: 155px;
    }

    .general-options-selector {
        font-size: 10px;
    }

    .bottom-bar-options i.fa {
        font-size: 10px;
        margin-left: 5px;
    }
}
