.btn-icon {
  background: none;
  border: none;
  vertical-align: middle;
}

.btn-icon > .fa {
  color: var(--color-gray-dark);
}

.btn-icon:focus {
  outline: none;
}

.fa:focus, fa:active {
  outline: none;
}

.box {
  padding: 3px 6px;
  background-color: var(--color-gray-lighter);
  border-color: var(--color-gray-lighter);
  z-index: 411;
  position: absolute;
  border-radius: 50px;
}


/*
@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/
