:root {
  --text-color-light: #fff;
  --text-color: #000;
  --color-gray-lighter: #bbb;
  --color-gray-light: #d8d8d8;
  --color-gray: #979797;
  --color-gray-dark: #585555;
  --color-green: #00CC00;
  --color-yellow: #F7FF36;
  --color-orange: #FF950B;
  --color-red: #FD0000;
  --color-action-primary: #82D0FF;
  --color-action-default: #D87A7A;
}


@font-face {
  font-family: "Avenir Light";
  src: local('Avenir Light'), url(./utils/AvenirLTStd-Light.otf) format('otf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir Light', sans-serif;
  overflow: hidden;
}
