.leaflet-container {
	height: 100vh;
	width: 100%;
	cursor: default;
}

.leaflet-control-zoom {
	top: 2em;
	right: 3em;
}

.leaflet-right .leaflet-control {
	margin-right: 0;
}

.leaflet-right .leaflet-control {
	border-radius: 50px;
}

.location-btn {
	cursor: pointer;
	top: 10em;
	right: 3em;
	padding: 6px;
}

.leaflet-bar a,
.leaflet-bar a:hover {
	border-color: var(--color-gray-lighter);
	background-color: var(--color-gray-lighter);
	color: #585555;
	border-bottom: 1px solid #585555;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 22px;
	font-weight: bold;
}

/* chrome */
.leaflet-touch .leaflet-bar a:first-child {
	border-top-left-radius: 50px ;
	border-top-right-radius: 50px ;
}
.leaflet-touch .leaflet-bar a:last-child {
	border-bottom-left-radius: 50px ;
	border-bottom-right-radius: 50px ;
}

/* firefox */
.leaflet-bar a:first-child {
	border-top-left-radius: 50px ;
	border-top-right-radius: 50px ;
}
.leaflet-bar a:last-child {
	border-bottom-left-radius: 50px ;
	border-bottom-right-radius: 50px ;
}

.traffic-light-circle {
	stroke-width: 1;
	stroke: var(--color-gray-lighter)
}