
.leaflet-container {
    height: 100vh;
    width: 100%;
}

.box {
    padding: 6px 12px;
    background-color: #D8D8D8;
    z-index: 401;
    position: absolute;
}

.box-zoom {
    right: 5em;
    top: 2em;
    border-radius: 50px;
    border-color: #D8D8D8;
}

.zoom-button {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.zoom-button > li {
    margin-right: .1em;
    margin-left: .1em;
}

.zoom-button li {
    font-size: 48px;
    color: #585555;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 10px;
    text-align: center;
}

.zoom-button li.border {
    border-top: 3px solid #585555;
    margin: 0 -12px;
    padding: 0;
}

.box-legend {
    right: 5em;
    bottom: 2em;
    border-radius: 50px;
    border-color: #D8D8D8;
}

.map-legend {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

.map-legend > li {
    margin-top: 2em;
    margin-bottom: 2em;
}

.map-legend li span {
    width: 3em;
    height: 3em;
    display: inline-flex;
    border-radius: 50%;
    border: 1px solid #D8D8D8;
    box-shadow: 2px 0 10px #888;
}

.map-legend > li > span.legend-red {
    background-color: #FD0000;
}

.map-legend > li > .legend-orange {
    background-color: #FF950B;
}

.map-legend > li > .legend-yellow {
    background-color: #F7FF36;
}

.map-legend > li > .legend-green {
    background-color: #00CC00;
}

.traffic-light-circle {
    stroke-width: 1;
    stroke: #f8f8f8;
}